@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  outline: 0;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  z-index: 10;
}

/* Theme spinner */
.theme-spinner::before {
  content: "";
  box-sizing: border-box;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 32px;
  height: 32px;
  margin-top: -16px;
  margin-left: -16px;
  border-radius: 50%;
  border: 3px solid rgba(17, 17, 17, 0.3);
  border-top-color: transparent;
  animation: spinner 1.5s linear infinite;
}

@keyframes spinner {
  to {
      transform: rotate(360deg);
  }
}

/* Product navigator */

.product-navigator {
  position: relative;
  padding: 20px 0;
  transition: 300ms;
}

.product-navigator--header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.product-title {
  font-size: 22px;
}

.see-more--button {
  display: flex;
  align-items: center;
}

.see-more--icon {
  width: 14px;
  margin-left: 4px;
  transform: rotate(-90deg);
}

.see-more--button span {
  font-size: 14px;
}

.product-container {
  display: flex;
  flex-wrap: nowrap;
  padding: 20px 0;
  padding-right: 78px;
  overflow-x: scroll;
  overscroll-behavior-x: contain;
  -ms-scroll-snap-type: x mandatory;
  scroll-snap-type: x mandatory;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.product-item {
  flex-shrink: 0;
  scroll-snap-align: center;
  scroll-snap-stop: always;
  -ms-scroll-snap-stop: always;
  width: 100%;
  position: relative;
  transition: 0.5s;
  text-decoration: none;
  margin-left: 18px;
  margin-bottom: 30px;
}

.product-item:first-child {
  margin-left: 39px;
}

.product-item:hover {
  transform: scale(1.05);
}

.product-item--image img {
  width: 100%;
}

.product-item--info span {
  display: block;
  font-size: 16px;
}

.dots {
  position: absolute;
  bottom: 8px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 8px;
}

.dot {
  width: 9px;
  height: 9px;
  background: #212121;
  opacity: 0.3;
  border-radius: 50%;
}

.dots.white .dot {
  background-color: #fff;
}

.dot.active {
  opacity: 1;
}

@media screen and (min-width: 700px) {
  section {
    width: 90%;
    margin: 0 auto;
    padding: 0;
  }

  .product-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  .product-navigator .dots {
    display: none;
  }
}

/* Product view */

.product-view {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
}

.product-view--image {
  width: min(100%, 600px);
}

.product-side-content {
  width: min(100%, 600px);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.selector-container {
  position: relative;
  width: 100%;
  max-width: 400px;
}

.selector-container select {
  font-size: 14px;
  font-weight: 400;
  line-height: 2.4rem;
  border: none;
  text-transform: none;
  letter-spacing: normal;
  position: absolute;
  text-rendering: auto;
  top: 0;
  left: 0;
  z-index: 30;
  width: 100%;
  height: 100%;
  margin: 0;
  opacity: .001;
  -webkit-appearance: none;
  appearance: none;
}

.selector-outer {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  border: none;
  text-transform: none;
  letter-spacing: normal;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 5px 8px 5px 12px;
  border: 1px solid #c9cccf;
  border-radius: 4px;
}

.selector-outer span {
  color: black;
}

.selector-outer .icon {
  width: 20px;
  height: 20px;
}

.add-to-cart--button {
  margin-top: 15px;
  padding: 12px 30px;
  border: 0;
  border-radius: 5px;
  font-size: 14px;
  background-color: #222;
  color: #ffffff80;
}

.add-to-cart--button.available {
  color: #fff;
  cursor: pointer;
}

.add-to-cart--button.clicked {
  background-color: #16b966;
}

.soldout-text {
  padding: 24px 0;
  color: #00000080;
}

@media screen and (min-width: 700px) {
  .product-view {
    flex-direction: row;
    padding: 0;
  }
}

/* Cart view */

.cart-view {
  display: flex;
  width: 100%;
  max-width: 1100px;
  margin: 0 auto;
  padding-top: 140px;
  padding-left: 12px;
  padding-right: 12px;
}

.cart-product-list {
  width: 66.6667%;
}

.cart-item {
  display: flex;
  padding: 0 20px;
  height: 120px;
  position: relative;
}

.cart-item .overlay {
  display: none;
  pointer-events: none;
  border-radius: 5px;
  background-color: #0000000d;
}

.cart-item:hover > .overlay {
  display: block;
}

.cart-item--content {
  display: flex;
  flex: 1;
}

.cart-item--image {
  height: 100%;
}

.cart-item--info {
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex: 1;
  padding: 0 15px;
  text-decoration: none;
}

.remove-from-cart {
  display: flex;
  align-items: center;
}

.remove-from-cart--button {
  width: 18px;
  height: 18px;
  padding: 0;
  border: none;
  cursor: pointer;
  background-color: #00000000;
}

.remove-from-cart--button .icon {
  fill: #545454;
  width: 100%;
  height: 100%;
}

.cart-item--info > span:not(.cart-item--info > span:first-child) {
  font-size: 14px;
  color: #545454bf;
}

.cart-summary {
  width: 33.3333%;
}

.summary-item {
  display: flex;
  justify-content: space-between;
  padding-left: 12px;
  padding-right: 12px;
  padding-bottom: 8px;
}

.summary-item span {
  line-height: 1.75;
  font-size: 16px;
  font-family: sans-serif;
}

.summary-item span:nth-child(2) {
  text-align: right;
}

.summary-item--bordered {
  margin: 12px;
  padding: 16px 0px 12px;
  border-top: 1px solid rgb(229, 229, 229);
  border-bottom: 1px solid rgb(229, 229, 229);
}

.summary-item--bordered span {
  width: 50%;
}

.checkout-button {
  position: relative;
  width: 100%;
  padding: 10px 20px;
  font-size: 20px;
  border: none;
  border-radius: 5px;
  color: #fff;
  background-color: #222222;
  cursor: pointer;
  outline: none;
  font-family: sans-serif;
}

.checkout-button.disabled {
  color: #989898;
  pointer-events: none;
}